# PostgreSQL Database Configuration Template
# Copy this file to '.env' and fill in your actual values before running docker compose

POSTGRES_DB=r*******
POSTGRES_USER=p*****
POSTGRES_PASSWORD=rai************
POSTGRES_PORT=5435
